{% extends 'navbar.html' %} {% block content %}
<h1> PRIVACY POLICY </h1>

<ul>
    <li>1. The data stored is not encrypted.</li>
    <li>2. Stored files will be removed from the server in 10 minutes.</li>
    <li>3. As of now, the text will never be deleted. Since we use your IP to associate your data,your IP will be stored forever.</li>
    <li>4. You are responsible for the safety of your data. Do not upload / paste sensitive information or information you don't want made public.</li>
    <li>5. Your IP address is (most likely) dynamic. You will not be able to access the data after your IP changes. </li>
</ul>

{% endblock content %}